@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;

  --background: 0, 0%, 0%;
  --foreground: 0, 0%, 100%;
  --muted: 210 10% 50%;
}

[color-scheme='dark'] {
  color-scheme: dark;

  --background: 0, 0%, 0%;
  --foreground: 0, 0%, 100%;
  --muted: 210 10% 50%;
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;

    --background: 0, 0%, 100%;
    --foreground: 0, 0%, 0%;
    --muted: 210 10% 50%;
  }
}

[color-scheme='light'] {
  color-scheme: light;

  --background: 0, 0%, 100%;
  --foreground: 0, 0%, 0%;
  --muted: 210 10% 50%;
}


@layer base {
  * {
    @apply font-sans;
  }

  body {
    @apply antialiased bg-background text-foreground;
  }
}